<div class="container">
    <div class="row h_menu">
        <nav class="navbar navbar-default navbar-left" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            {% set route = app.request.attributes.get('_route') %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ (route == 'activity_homepage') ? 'active' : '' }}"><a
                                href="{{ path('activity_homepage') }}">Acasa</a></li>
                    <li class="{{ (route == 'lesson_bundle.show_all_languages') ? 'active' : '' }}"><a
                                href="{{ path('lesson_bundle.show_all_languages') }}">Limbaje</a></li>
                    <li class="{{ (route == 'user_bundle.list_users') ? 'active' : '' }}"><a
                                href="{{ path('user_bundle.list_users') }}">Utilizatori</a></li>
                    <li class="{{ (route == 'user_bundle.show_ranking') ? 'active' : '' }}"><a
                                href="{{ path('user_bundle.show_ranking') }}">Clasament</a></li>
                    {#<li><a href="about.html">About</a></li>#}
                    {#<li><a href="blog.html">Blog</a></li>#}
                    {#<li><a href="contact.html">Contact</a></li>#}
                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- start soc_icons -->
        </nav>
        <div class="soc_icons navbar-right">
            <ul class="list-unstyled text-center">
                {% if app.user %}
                <li><a style="width: 250px;"
                       href="{% if is_granted('ROLE_ADMIN') %}{{ path('sonata_admin_dashboard')}}
                            {% else %}{{ path('user_bundle.show_user', {slugName: app.user.username|sonata_slugify, id: app.user.id}) }} {% endif %}">
                        Bine ai venit {{ app.user.getUsername() }} ! </a></li>
                <li><a href=" {{ path('fos_user_security_logout') }}">Logout</a></li>
            {% else %}
                <li><a href=" {{ path('fos_user_security_login') }}">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
