{% extends 'base.html.twig' %}

{% block content %}

    <div class="lesson-details">
        <h3>{{ lesson.title }}</h3>

        <div class="lesson-content">
            {{ lesson.content|raw }}
        </div>
        <button data-lesson-id="{{ lesson.id }}" class="init-test">Verifica-ti cunostintele</button>
        <div class="form-dialog">
            <form class="lesson-questions">
                {% for question in lesson.questions %}
                    <li class="form-group" data-question-id="{{ question.id }}">
                        <div class="answer-loader">
                            <img class="answer-loader-image" src="{{ asset('images/loading.gif') }}">
                        </div>
                        <span class="question-name">{{ question.question }}</span>
                        <label class="radio-answer"><input type="radio" value="1" name="answer_id-{{ question.id }}">{{ question.option1 }}</label>
                        <label class="radio-answer"><input type="radio" value="2" name="answer_id-{{ question.id }}">{{ question.option2 }}</label>
                        <label class="radio-answer"><input type="radio" value="3" name="answer_id-{{ question.id }}">{{ question.option3 }}</label>
                        <label class="radio-answer"><input type="radio" value="4" name="answer_id-{{ question.id }}">{{ question.option4 }}</label>
                        <div class="answer-check"></div>
                    </li>
                {% endfor %}
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@LessonBundle/Resources/public/js/views/Lesson.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}