{% extends 'base.html.twig' %}

{% block content %}

    <div class="lesson-details">
        <h3>{{ lesson.title }}</h3>

        <div class="lesson-content">
            {{ lesson.content|raw }}
        </div>
        <button data-lesson-id="{{ lesson.id }}" class="init-test btn-danger btn-lg">Verifica-ti cunostintele</button>
        <div class="form-dialog">
            <form class="lesson-questions">
                {% for question in lesson.questions %}
                    <li id="question-{{ question.id }}"  class="form-group" data-question-id="{{ question.id }} ">
                        {% set isAnswered = 0 %}
                    {% if questionService.isCorrectAnswered(question) %}
                        {% set isAnswered = 1 %}
                        <div class="loader-wrapper" style="display: block;">
                            <div class="answer-loader"></div>
                            <img class="answer-loader-image" src="/images/right.png">
                        </div>
                    {% endif %}
                        <div class="loader-wrapper">
                            <div class="answer-loader"></div>
                            <img class="answer-loader-image" src="{{ asset('images/loading.gif') }}">
                        </div>
                        <span class="question-name">{{ question.question }}</span>
                        <div class="question-xp" style="font-weight: bold; color: #c12e2a">{{ question.getScore() }} xp</div>
                        <label class="radio-answer"><input {{ ((question.answer == 1) and (isAnswered == 1)) ? 'checked' : '' }}  class="answer-input" type="radio" value="1" name="answer_id-{{ question.id }}">{{ question.option1 }}</label>
                        <label class="radio-answer"><input {{ ((question.answer == 2) and (isAnswered == 1)) ? 'checked' : ''}} class="answer-input" type="radio" value="2" name="answer_id-{{ question.id }}">{{ question.option2 }}</label>
                        <label class="radio-answer"><input {{ ((question.answer == 3) and (isAnswered == 1)) ? 'checked' : '' }} class="answer-input" type="radio" value="3" name="answer_id-{{ question.id }}">{{ question.option3 }}</label>
                        <label class="radio-answer"><input {{ ((question.answer == 4) and (isAnswered == 1)) ? 'checked' : ''}} class="answer-input" type="radio" value="4" name="answer_id-{{ question.id }}">{{ question.option4 }}</label>
                        <div class="answer-check"></div>
                    </li>
                {% endfor %}
            </form>
        </div>

        <div class="badge-modal">
            <div class="badge-group">
                <div class="badge-logo">
                    <img src="">
                </div>
                <div class="badge-name"></div>
                <div class="badge-message"></div>
            </div>
        </div>

    </div>
<img class="lesson-overlay" src="{{ asset('images/think.jpg') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@LessonBundle/Resources/public/js/views/LessonView.js'
    '@LessonBundle/Resources/public/js/views/DisplayBadge.js'
    '@LessonBundle/Resources/public/js/models/LessonModel.js'
    '@LessonBundle/Resources/public/js/services/LessonService.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}